service keydebounce /system/bin/keydebounce
    class late_start
    user system
    group system input bluetooth
    seclabel u:r:keydebounce:s0
    disabled
    oneshot

on property:sys.boot_completed=1
    start keydebounce
